# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore build output directories
/build/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore Visual Studio Code files
.vscode/
.cache/
